In [7]:
!pip3 install pandas matplotlib numpy

Requirement already satisfied: pandas in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: matplotlib in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (3.10.0)
Requirement already satisfied: numpy in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from pandas) (2024.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/myenv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [8]:
# Import neccessary libaries
import pandas as pd
import numpy as np

In [9]:
# Use Kaggle dataset
stock_data = pd.read_csv("./GOOG.csv")

In [10]:
# Initialize dataframe
df = pd.DataFrame(stock_data)

In [19]:
# Clean data
df.dropna()
df.drop_duplicates()

,Price,Adj Close,Close,High,Low,Open,Volume
0,Ticker,GOOG,GOOG,GOOG,GOOG,GOOG,GOOG
1,2024-01-02,139.21810913085938,139.55999755859375,140.61500549316406,137.74000549316406,139.60000610351562,20071900
2,2024-01-03,140.01614379882812,140.36000061035156,141.08999633789062,138.42999267578125,138.60000610351562,18974300
3,2024-01-04,137.7018280029297,138.0399932861328,140.63499450683594,138.00999450683594,139.85000610351562,18253300
4,2024-01-05,137.0534210205078,137.38999938964844,138.80999755859375,136.85000610351562,138.3520050048828,15433200
...,...,...,...,...,...,...,...
229,2024-11-26,170.6199951171875,170.6199951171875,171.4949951171875,169.42999267578125,169.49000549316406,14937500
230,2024-11-27,170.82000732421875,170.82000732421875,171.13999938964844,169.6699981689453,170.67999267578125,12433400
231,2024-11-29,170.49000549316406,170.49000549316406,170.8699951171875,168.75,170.05999755859375,9250700
232,2024-12-02,172.97999572753906,172.97999572753906,173.60000610351562,170.27000427246094,170.32000732421875,16593400
233,2024-12-03,173.02000427246094,173.02000427246094,174.32000732421875,172.50999450683594,173.1199951171875,15721500

In [21]:
# Calculate stock moving averages
df.tail(1)

,Price,Adj Close,Close,High,Low,Open,Volume
233,2024-12-03,173.02000427246094,173.02000427246094,174.32000732421875,172.50999450683594,173.1199951171875,15721500